<!DOCTYPE html>
<html lang="ko">
<head>
    <title>멍이와 나 Doggo & Me 🐶</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="멍이와 나 Doggo & Me"/>
    <meta property="og:description" content="일정을 저장하고 이메일로 알림을 보내주는 당신만의 집사 강아지, '멍이'를 만나 보세요🐕"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}"/>
    <!--Google Web Font-->
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style>
        * {
            font-size: 15px;
        }

        h1 {
            font-family: 'Gamja Flower', cursive;
            /*display: inline;*/
        }

        table {
            table-layout: fixed;
            word-break: break-all;
            border: 1px solid darkgray;
        }

        th, td {
            border: 1px solid darkgray;
            padding: 10px;
        }

        .icon {
            width: 50px;
            height: 50px;
            margin: 10px 30px;
        }

        .wrap {
            margin: 10px auto;
            padding: 30px;
            width: 600px;
            text-align: center;
            border: solid black;
        }

        .sche_card, .searched_card, .fix_card {
            margin: 15px;
            padding: 10px;
            border: 3px darkgray double;
        }

        .schedule_date {
            font-weight: bolder;
            padding: 10px;
            text-align: left;
        }

        #header {
            margin: 30px;
        }

        #header_info, #input_sche {
            border: dashed black 1px;
            padding: 15px;
            margin: 10px;
        }

        #month {
            font-weight: bold;
            font-size: 30px;
        }

        #input_sche, #alert1input, #alert2input, #mobile_info {
            display: none;
        }

    </style>
    <script>
        //////로그인 전 단계- guest_info////
        $(document).ready(function () {
            if ($.cookie('mytoken') == undefined) {
                // mytoken이라는 값으로 쿠키가 없으면, 홈페이지 레이아웃 대신 guest_info를 보여줍니다
                $('#header').hide()
                $('#schedules').hide()
                $('#guest_info').show()
                alert('"멍이와 나"는 로그인이 필요한 서비스에요. 회원가입/로그인을 해 주세요🐕')
            } else {
                // 쿠키가 있으면, 유저 정보를 불러옵니다.
                $('#guest_info').hide()
                load_user_info()
            }
            show_date()
            show_month()
            show_day()
            show_1day()
            readsche()
            $('#layout_buttons').hide()
        });

        ///////로그인영역///////
        // 쿠키에 가지고 있는 token을 헤더에 담아서 보냅니다.
        function load_user_info() {
            $.ajax({
                type: "GET",
                url: "/api/nick",
                headers: {'token_give': $.cookie('mytoken')},
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 올바른 결과값을 받으면 nickname을 입력해줍니다.
                        $('#userID').text(response['id'])
                        $('#nickname').text(response['nickname'])
                    } else {
                        // 에러가 나면 메시지를 띄우고 로그인 창으로 이동합니다.
                        alert(response['msg'])
                        window.location.href = '/login'
                    }
                }
            })
        }

        //////로그아웃 영역//////
        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        function logout() {
            if (confirm("🐶 로그아웃 하시겠어요?")) {
                $.removeCookie('mytoken');
                alert('로그아웃 되었습니다! 또 찾아와 주세요🐕')
                window.location.href = '/'
            } else {
                alert('🐶로그아웃을 취소했습니다! 아직 로그인 상태에요.')
            }
        }

        function show_month() {
            let today = new Date()
            let month = today.getMonth() + 1;
            $('#month').append(month + '월');
        }

        function show_date() {
            let today = new Date();
            let year = today.getFullYear();
            let month = today.getMonth() + 1;
            let date = today.getDate();
            $('#date').append(year + '년 ' + month + '월 ' + date + '일');
        }

        function show_day() {
            let today = new Date();
            let day = today.getDay();
            if (day == 0) {
                $('#day').append('일요일')
            } else if (day == 1) {
                $('#day').append('월요일')
            } else if (day == 2) {
                $('#day').append('화요일')
            } else if (day == 3) {
                $('#day').append('수요일')
            } else if (day == 4) {
                $('#day').append('목요일')
            } else if (day == 5) {
                $('#day').append('금요일')
            } else if (day == 6) {
                $('#day').append('토요일')
            }
        }

        function fold_input_sche() {
            if ($('#input_sche').css('display') == 'block') {
                $('#input_sche').hide();
            } else {
                $('#input_sche').show();
            }
        }

        function fold_mobile_info() {
            if ($('#mobile_info').css('display')=='block') {
                $('#mobile_info').hide();
            } else {
                $('#mobile_info').show();
            }
        }

        function check_open() {
            if ($('input:checkbox[id="alert1"]').is(':checked')) {
                $('#alert1input').show();
            } else {
                $('#alert1input').hide();
            }
            if ($('input:checkbox[id="alert2"]').is(':checked')) {
                $('#alert2input').show();
            } else {
                $('#alert2input').hide();
            }
            if ($('input:checkbox[id="alert1fix"]').is(':checked')) {
                $('#alert1inputfix').show();
            } else {
                $('#alert1inputfix').hide();
            }
            if ($('input:checkbox[id="alert2fix"]').is(':checked')) {
                $('#alert2inputfix').show();
            } else {
                $('#alert2inputfix').hide();
            }
        }

        function enterkey() {
            if (window.event.keyCode == 13) {
                find_sche();
            }
        }

        function home() {
            window.location.href = '/'
        }

        function show_1day() {
            $('#day_layout').show();
            $('#week_layout').hide();
            $('#month_layout').hide();
        }

        function show_7day() {
            $('#day_layout').hide();
            $('#week_layout').show();
            $('#month_layout').hide();
        }

        function show_30day() {
            $('#day_layout').hide();
            $('#week_layout').hide();
            $('#month_layout').show();
        }

        //////////////////////
        //API 역할을 하는 부분//
        //////////////////////
        //1. 일정 생성(Create) - /makesche (POST)
        function makesche() {
            if ($('#todo').val() == 0 || $('#start_date').val() == 0) {
                alert("🐶멍! 할 일과 시작일이 있어야 일정을 저장할 수 있어요!")
            } else if ($('input:checkbox[id="alert1"]').is(':checked') && $('#alert1date').val() == 0) {
                alert('🐶 📧메일 알림을 드릴까요? 알림 날짜를 지정해 주세요!')
            } else if ($('input:checkbox[id="alert1"]').is(':checked') && $('#alert1time').val() == 0) {
                alert('🐶 📧메일 알림을 드릴까요? 알림 시간도 지정해 주세요!')
            } else if ($('input:checkbox[id="alert2"]').is(':checked') && $('#alert2date').val() == 0) {
                alert('🐶 📧📧한 번 더 알림을 드릴까요? 알림 날짜를 지정해 주세요!')
            } else if ($('input:checkbox[id="alert2"]').is(':checked') && $('#alert2time').val() == 0) {
                alert('🐶 📧📧한 번 더 알림을 드릴까요? 알림 시간도 지정해 주세요!')
            } else {
                let todo = $('#todo').val();
                let start_date = $('#start_date').val();
                let start_time = $('#start_time').val();
                let end_date = $('#end_date').val();
                let end_time = $('#end_time').val();
                let alert1 = $('input:checkbox[id="alert1"]').is(':checked');
                let alert1date = $('#alert1date').val();
                let alert1time = $('#alert1time').val();
                let alert2 = $('input:checkbox[id="alert2"]').is(':checked');
                let alert2date = $('#alert2date').val();
                let alert2time = $('#alert2time').val();
                let memo = $('#memo').val();
                $.ajax({
                    type: "POST",
                    url: "/makesche",
                    data: {
                        'todo': todo,
                        'start_date': start_date,
                        'start_time': start_time,
                        'end_date': end_date,
                        'end_time': end_time,
                        'alert1': alert1,
                        'alert1date': alert1date,
                        'alert1time': alert1time,
                        'alert2': alert2,
                        'alert2date': alert2date,
                        'alert2time': alert2time,
                        'memo': memo
                    },
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        } else {
                            alert('서버 오류!')
                        }
                    }
                })
            }
        }

        //2. 일정 조회(Read) - /readsche (GET)
        function readsche() {
            $('#day_layout').empty();
            $.ajax({
                type: "GET",
                url: '/readsche',
                data: {},
                success: function (response) {
                    response = JSON.parse(response)
                    let sche_list = response['sche_list'];
                    for (i = 0; i < sche_list.length; i++) {
                        let a_sche = sche_list[i];
                        let todo = a_sche['todo']
                        let start_date = a_sche['start_date']
                        let end_date = a_sche['end_date']
                        let start_time = a_sche['start_time']
                        let end_time = a_sche['end_time']
                        let alert1date = a_sche['alert1date']
                        let alert1time = a_sche['alert1time']
                        let alert2date = a_sche['alert2date']
                        let alert2time = a_sche['alert2time']
                        let memo = a_sche['memo']
                        let sche_card = `<div class="sche_card" data-id="${a_sche['_id']['$oid']}">
                                            <div class="schedule_date">${start_date}~${end_date}</div>
                                            <li>(${start_time}~${end_time})${todo}</li>
                                            ${memo}
                                            <li class="alert1">📧이메일 알림(1) - <span class="alert1${[i]}"></span><br>
                                             날짜 : ${alert1date}<br>
                                             시간 : ${alert1time}</li>
                                            <li class="alert2">📧📧이메일 알림(2) - <span class="alert2${[i]}"></span><br>
                                             날짜 : ${alert2date}<br>
                                             시간 : ${alert2time}</li>
                                            <button onclick="readasche(this)">편집✍</button>
                                            <button onclick="delsche(this)">삭제🗑</button>
                                        </div>`
                        $('#day_layout').append(sche_card);
                    }
                }
            })
            OX();
        }

        //2-1. 카톡, 이메일 알림 true이면 o, false이면 x 붙여주는 함수/readsche(GET)
        function OX() {
            $.ajax({
                type: "GET",
                url: '/readsche',
                data: {},
                success: function (response) {
                    response = JSON.parse(response)
                    let sche_list = response['sche_list'];
                    for (i = 0; i < sche_list.length; i++) {
                        let a_sche = sche_list[i];
                        let alert1 = a_sche['alert1']
                        let alert2 = a_sche['alert2']
                        if (alert1 == "true") {
                            $('.alert1' + i).append('⭕');
                        } else if (alert1 == "false") {
                            $('.alert1' + i).append('❌')
                        }
                        if (alert2 == "true") {
                            $('.alert2' + i).append('⭕');
                        } else if (alert2 == "false") {
                            $('.alert2' + i).append('❌')
                        }
                    }
                }
            })
        }


        //3. 일정 검색(Read?) - /findsche (POST)
        function find_sche() {
            $('#day_layout').empty();
            let keyword = $('#search').val();
            $.ajax({
                type: "POST",
                url: "/findsche",
                data: {'keyword': keyword},
                success: function (response) {
                    response = JSON.parse(response)
                    if (response["result"] == "success") {
                        let searched_list = response['searched'];
                        if (searched_list.length == 0) {
                            alert("🐶 멍! 검색결과가 없습니다! 검색어를 확인해 주세요.")
                        } else {
                            for (i = 0; i < searched_list.length; i++) {
                                let searched = searched_list[i];
                                let searched_card = `<div class="searched_card" data-id="${searched['_id']['$oid']}">
                                            <div class="schedule_date">${searched['start_date']}~${searched['end_date']}</div>
                                            <li>(${searched['start_time']}~${searched['end_time']})${searched['todo']}</li>
                                            ${searched['memo']}
                                            <li class="alert1">📧이메일 알림(1) - ${searched['alert1']}<br>
                                             날짜 : ${searched['alert1date']}<br>
                                             시간 : ${searched['alert1time']}</li>
                                            <li class="alert2">📧📧이메일 알림(2) - ${searched['alert2']}<br>
                                             날짜 : ${searched['alert2date']}<br>
                                             시간 : ${searched['alert2time']}</li>
                                            <button onclick="readasche(this)">편집✍</button>
                                            <button onclick="delsche(this)">삭제🗑</button>
                                        </div>`
                                $('#day_layout').append(searched_card);
                            }
                            alert(response["msg"]);
                        }
                    } else {
                        alert('서버 오류!')
                    }
                }
            })
        }

        // 4-1. 일정 변경을 위한 조회(find-one) - /readasche (GET)
        function readasche(e) {
            let sche_card = $(e).parent();
            let id = sche_card.attr('data-id');
            $.ajax({
                type: "GET",
                url: "/readasche",
                data: {'id': id},
                success: function (response) {
                    response = JSON.parse(response)
                    if (response["result"] == "success") {
                        let fix_todo = response["fix_todo"];
                        let id_fix = fix_todo['_id']['$oid']
                        let todo = fix_todo['todo']
                        let start_date = fix_todo['start_date']
                        let end_date = fix_todo['end_date']
                        let start_time = fix_todo['start_time']
                        let end_time = fix_todo['end_time']
                        let alert1date = fix_todo['alert1date']
                        let alert1time = fix_todo['alert1time']
                        let alert2date = fix_todo['alert2date']
                        let alert2time = fix_todo['alert2time']
                        let memo = fix_todo['memo'];
                        let fix_card = `<div class="fix_card" data-id="${id_fix}">
                                            <div class="schedule_date">
                                                날짜 : <input type="date" id="start_date_fix" value="${start_date}">
                                                ~<input type="date" id="end_date_fix" value="${end_date}"><br>
                                                (<input type="time" id="start_time_fix" value="${start_time}">
                                                ~<input type="time" id="end_time_fix" value="${end_time}">)
                                            </div>
                                            <li><input type="text" id="todo_fix" width="500px" value="${todo}"></li>
                                            📧이메일 알림(1)  <input type="checkbox" id="alert1fix" onclick="check_open()"><br>
                                            <div id="alert1inputfix">
                                                <input type="date" id="alert1date_fix" value="${alert1date}">,
                                                <input type="time" id="alert1time_fix" value="${alert1time}"><br>
                                            </div>
                                            📧📧이메일 알림(2)  <input type="checkbox" id="alert2fix" onclick="check_open()"><br>
                                            <div id="alert2inputfix">
                                                <input type="date" id="alert2date_fix" value="${alert2date}">,
                                                <input type="time" id="alert2time_fix" value="${alert2time}"><br>
                                            </div>
                                            <textarea id="memo_fix" cols="30" rows="5">${memo}</textarea><br>
                                            <button onclick="home()">취소</button>
                                            <button id="fixsche" onclick="fixsche(this)">편집완료🐾</button>
                                        </div>`
                        $('#day_layout').empty();
                        $('#day_layout').append(fix_card);
                    }
                }
            })
            checked(e)
        }

        //4-1(1). 카톡, 이메일알림 o면 checked, x면 체크해제하는 함수/readsche(GET)
        function checked(e) {
            let sche_card = $(e).parent();
            let id = sche_card.attr('data-id');
            $.ajax({
                type: "GET",
                url: "/readasche",
                data: {'id': id},
                success: function (response) {
                    response = JSON.parse(response)
                    if (response["result"] == "success") {
                        let fix_todo = response["fix_todo"];
                        let alert1 = fix_todo['alert1']
                        let alert2 = fix_todo['alert2']
                        if (alert1 == "true") {
                            $('#alert1fix').attr('checked', true);
                        } else if (alert1 == "false") {
                            $('#alert1fix').attr('checked', false);
                        }
                        if (alert2 == "true") {
                            $('#alert2fix').attr('checked', true);
                        } else if (alert2 == "false") {
                            $('#alert2fix').attr('checked', false);
                        }
                    }
                }
            })
        }

        // 4-2. 일정 변경(Update) - /fixsche (POST)
        function fixsche(e) {
            if ($('#todo_fix').val() == 0 || $('#start_date_fix').val() == 0) {
                alert("🐶멍! 할 일과 시작일이 있어야 일정을 저장할 수 있어요!")
            } else if ($('input:checkbox[id="alert1fix"]').is(':checked') && $('#alert1date_fix').val() == 0) {
                alert('🐶 📧메일 알림을 드릴까요? 알림 날짜를 지정해 주세요!')
            } else if ($('input:checkbox[id="alert1fix"]').is(':checked') && $('#alert1time_fix').val() == 0) {
                alert('🐶 📧메일 알림을 드릴까요? 알림 시간도 지정해 주세요!')
            } else if ($('input:checkbox[id="alert2fix"]').is(':checked') && $('#alert2date_fix').val() == 0) {
                alert('🐶 📧📧한 번 더 알림을 드릴까요? 알림 날짜를 지정해 주세요!')
            } else if ($('input:checkbox[id="alert2fix"]').is(':checked') && $('#alert2time_fix').val() == 0) {
                alert('🐶 📧📧한 번 더 알림을 드릴까요? 알림 시간도 지정해 주세요!')
            } else {
                let fix_card = $(e).parent();
                let id = fix_card.attr('data-id');
                let todo = $('#todo_fix').val();
                let start_date = $('#start_date_fix').val();
                let start_time = $('#start_time_fix').val();
                let end_date = $('#end_date_fix').val();
                let end_time = $('#end_time_fix').val();
                let alert1 = $('input:checkbox[id="alert1fix"]').is(':checked');
                let alert1date = $('#alert1date_fix').val();
                let alert1time = $('#alert1time_fix').val();
                let alert2 = $('input:checkbox[id="alert2fix"]').is(':checked');
                let alert2date = $('#alert2date_fix').val();
                let alert2time = $('#alert2time_fix').val();
                let memo = $('#memo_fix').val();
                $.ajax({
                    type: "POST",
                    url: "/fixsche",
                    data: {
                        'id': id,
                        'todo': todo,
                        'start_date': start_date,
                        'start_time': start_time,
                        'end_date': end_date,
                        'end_time': end_time,
                        'alert1': alert1,
                        'alert1date': alert1date,
                        'alert1time': alert1time,
                        'alert2': alert2,
                        'alert2date': alert2date,
                        'alert2time': alert2time,
                        'memo': memo
                    },
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        } else {
                            alert('서버 오류!')
                        }
                    }
                })
            }
        }

        //5. 일정 삭제(Delete) - /delsche(POST)
        function delsche(e) {
            if (confirm("🐶 이 일정을 정말 삭제할까요?")) {
                let sche_card = $(e).parent();
                let id = sche_card.attr('data-id');
                $.ajax({
                    type: "POST",
                    url: "/delsche",
                    data: {'id': id},
                    success: function (response) {
                        response = JSON.parse(response)
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        } else {
                            alert('서버 오류!')
                        }
                    }
                })
            } else {
                alert('삭제를 취소했습니다!')
            }
        }
        //6. 알림 보내기(카톡/이메일) -> alert.py 파일로.
        //7. 날씨 조회 /weather (GET) - 준비중!

    </script>
</head>
<body>
<div class="wrap">
    <div id="doggo&me">
        <img src="../static/Doggo_icon.png" width="200px" alt="멍이와 나 로고">
        <h1>멍이와 나</h1>
    </div>
    <div id="guest_info">
        🐶 안녕하세요!<br>
        '멍이와 나'는 📝일정을 기록하고, 📧이메일 알림을 받을 수 있는 서비스에요.<br>
        지금
        <button><a href="/login">🐕로그인</a></button>
        또는
        <button><a href="/register">🐩회원가입</a></button>
        해 보시고 '멍이와 나'를 사용해 보세요!<br>
    </div>
    <div id="header">
        <div id="header_info">
            🐶 <span id="nickname"></span>(<span id="userID"></span>)님, 반가워요!<br>
            오늘은 <span id="date"></span>, <span id="day"></span>이에요. 멍멍!<br><br>
            <button onclick="logout()">로그아웃!👋</button>
        </div>
        <button onclick="fold_mobile_info()">Tip : 📲모바일 알림 받기!</button><br><br>
        <div id="mobile_info">
            <p>🐕'멍이와 나'에 가입한 아이디(이메일 주소)를 활용해<br>
            스마트폰에서 모바일 알림을 받을 수 있어요!<br>
                (단, 스마트폰에서 push알림을 설정해 주어야 해요!)</p>
            <p>✉카카오 메일(@kakao.com) <br>- 연결된 카카오톡 계정으로 💬카톡 알림이 와요.</p>
            <p>✉네이버 메일(@naver.com) <br>- '네이버 메일' 모바일 앱을 설치해야 해요.<br>
            📱<a href="https://play.google.com/store/apps/details?id=com.nhn.android.mail&hl=ko"
                 title="구글 플레이스토어의 '네이버 메일'앱 설치 링크입니다(Android 환경)">안드로이드</a>
            / <a href="https://apps.apple.com/kr/app/%EB%84%A4%EC%9D%B4%EB%B2%84-%EB%A9%94%EC%9D%BC/id582152066"
                 title="애플 앱스토어의 '네이버 메일'앱 설치 링크입니다(iOS환경)">iOS</a></p>
            <p>✉다음 메일(한메일: @hanmail.net) <br>- '다음 메일' 모바일 앱을 설치해야 해요.<br>
            📱<a href="https://play.google.com/store/apps/details?id=net.daum.android.mail&hl=ko"
                 title="구글 플레이스토어의 '다음 메일'앱 설치 링크입니다(Android 환경)">안드로이드</a>
            / <a href="https://apps.apple.com/kr/app/%EB%8B%A4%EC%9D%8C-%EB%A9%94%EC%9D%BC-daum-mail/id1455817344"
                 title="애플 앱스토어의 '다음 메일'앱 설치 링크입니다(iOS환경)">iOS</a></p>
            <p>✉구글 메일(Gmail: @gmail.com) <br>- 'Gmail' 모바일 앱을 설치해야 해요.<br>
            📱<a href="https://play.google.com/store/apps/details?id=com.google.android.gm&hl=ko"
                 title="구글 플레이스토어의 '구글 메일Gmail'앱 설치 링크입니다(Android 환경)">안드로이드</a>
            / <a href="https://apps.apple.com/kr/app/gmail-google-%EC%9D%B4%EB%A9%94%EC%9D%BC/id422689480"
                 title="애플 앱스토어의 '구글 메일Gmail'앱 설치 링크입니다(iOS환경)">iOS</a></p>
        </div>
        <button onclick="fold_input_sche()">일정을 적어보세요📝</button><br><br>
        <div id="input_sche">
            <h4>📝어떤 일정을 적어둘까요?</h4><br>
            <input type="text" width="300px" id="todo" placeholder="🐶할 일이 뭔가요?"><br><br>
            언제부터 해야 하나요?(시작일)<br>
            <input type="date" id="start_date"><input type="time" id="start_time"> <br><br>
            언제까지 해야 하나요?(종료일)<br>
            <input type="date" id="end_date"><input type="time" id="end_time"><br><br><br>
            <h4>✅잊지 않게 알려드릴게요!</h4><br>
            📧 이메일을 보내서 알려줘 <input type="checkbox" id="alert1" onclick="check_open()"><br><br>
            <div id="alert1input">
                <input type="date" id="alert1date">
                <input type="time" id="alert1time"><br><br>
            </div>
            📧📧 이메일로 한 번 더 알려줘 <input type="checkbox" id="alert2" onclick="check_open()"><br><br>
            <div id="alert2input">
                <input type="date" id="alert2date">
                <input type="time" id="alert2time"><br><br>
            </div>
            <textarea id="memo" placeholder="메모를 더 남길 수 있어요. 멍!" cols="30" rows="5"></textarea><br><br>
            <input type="submit" onclick="makesche()" value="저장!🐾">
        </div><br>
        <div id="layout_buttons">
            <a href="#" onclick="show_1day()"><img class="icon" src="../static/calendar_1.png" alt="1일 레이아웃 아이콘"></a>
            <a href="#" onclick="show_7day()"><img class="icon" src="../static/calendar_7.png" alt="7일 레이아웃 아이콘"></a>
            <a href="#" onclick="show_30day()"><img class="icon" src="../static/calendar_30.png" alt="30일 레이아웃 아이콘"></a>
        </div>
    </div>
    <div id="schedules">
        <div id="month"></div>
        <br>
        <input id="search" type="text" onkeyup="enterkey()" placeholder="일정을 검색할 수 있어요. 멍!">
        <button onclick="find_sche()">🔍</button>
        <div id="day_layout">
            <div class="sche_card" data-id="${a_sche['_id']['$oid']}">
                <div class="schedule_date">start_date~end_date</div>
                <button onclick="readasche(this)">편집✍</button>
                <button onclick="delsche(this)">삭제🗑</button>
                <li>(start_time~end_time)todo</li>
                memo
                <li>📧이메일 알림 (1) - <span class="alert1"></span><br>
                    날짜 : alert1date<br>
                    시간 : alert1time
                </li>
                <li>📧📧 이메일 알림 (2)- <span class="alert2"></span><br>
                    날짜 : alert2date<br>
                    시간 : alert2time
                </li>

            </div>
        </div>
        <div id="week_layout">
            <table>
                <colgroup>
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                </colgroup>
                <thead>
                <tr>
                    <th id="month" colspan="7"></th>
                </tr>
                <tr>
                    <th>Sun(일)</th>
                    <th>Mon(월)</th>
                    <th>The(화)</th>
                    <th>Wed(수)</th>
                    <th>Thu(목)</th>
                    <th>Fri(금)</th>
                    <th>Sat(토)</th>
                </tr>
                <tr>
                    <th>16일</th>
                    <th>17일</th>
                    <th>18일</th>
                    <th>19일</th>
                    <th>20일</th>
                    <th>21일</th>
                    <th>22일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <li>(21:00~)친구들과 놀기!</li>
                    </td>
                    <td>
                        <li></li>
                    </td>
                    <td>
                        <li>소고기 사오기!</li>
                    </td>
                    <td>
                        <li>(19:30~22:30)스파르타코딩클럽 - 수업</li>
                    </td>
                    <td>
                        <li>밀린 집안일 하기 (빨래,청소)</li>
                        <li>이마트에서 장 봐오기</li>
                    </td>
                    <td>
                        <li></li>
                    </td>
                    <td>
                        <li></li>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="month_layout">
            <table id="schedules">
                <colgroup>
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                    <col width="14%">
                </colgroup>
                <thead>
                <tr>
                    <th id="month" colspan="7"></th>
                </tr>
                <tr>
                    <th>Sun(일)</th>
                    <th>Mon(월)</th>
                    <th>The(화)</th>
                    <th>Wed(수)</th>
                    <th>Thu(목)</th>
                    <th>Fri(금)</th>
                    <th>Sat(토)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                </tr>
                <tbody>
                <tr>
                    <td></td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                </tr>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                    <td class="schedule_date"></td>
                </tr>
                <tbody>
                <tr>
                    <td>
                        <li>(21:00~)친구들과 놀기!</li>
                    </td>
                    <td>
                        <li></li>
                    </td>
                    <td>
                        <li>소고기 사오기!</li>
                    </td>
                    <td>
                        <li>(19:30~22:30)스파르타코딩클럽 - 수업</li>
                    </td>
                    <td>
                        <li>밀린 집안일 하기 (빨래,청소)</li>
                        <li>이마트에서 장 봐오기</li>
                    </td>
                    <td>
                        <li></li>
                    </td>
                    <td>
                        <li></li>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>