<!DOCTYPE html>
<html lang="ko">
<head>
    <title>멍이와 나🐶</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        h1 {
            display: inline;
        }

        #title {
            margin: 30px;
        }

        #doggo_icon {
            width: 55px;
            height: 55px;
            float: left;
        }

        #user_icon {
            width: 50px;
            height: 50px;
            float: right;
        }

        .wrap {
            margin: 10px auto;
            padding: 30px;
            width: 500px;
            text-align: center;
            border: solid black;
        }

    </style>
    <script>
        $(document).ready(function () {
            show_today()
        });

        function show_today() {
            let today = new Date();
            let year = today.getFullYear();
            let month = today.getMonth() + 1;
            let date = today.getDate();
            let day = today.getDay();
            let hours = today.getHours();
            let minutes = today.getMinutes();
            let seconds = today.getSeconds();
            $('#today').append(year + '년 ' + month + '월 ' + date + '일');
        }

        function showStar() {
            $('#star-box').empty()
            $.ajax({
                type: 'GET',
                url: '/api/list',
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        stars = response['star_list'];
                        for (let i = 0; i < stars.length; i++) {
                            let star = stars[i];

                            $('#star-box').append();
                        }
                        alert(response['msg']);
                    }
                }
            });
        }

        function likeStar(name) {
            $.ajax({
                type: 'POST',
                url: '/api/like',
                data: {'name_give': name},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];
                        alert(msg);
                        location.reload();
                    }
                }
            });
        }

        function deleteStar(name) {
            $.ajax({
                type: 'POST',
                url: '/api/delete',
                data: {'name_give': name},
                success: function (response) {
                    if (response['result'] == 'success') {
                        window.location.reload();
                        let msg = response['msg'];
                        alert(msg);
                    }
                }
            });
        }

    </script>
</head>
<body>
<div class="wrap">

    <div id="title">
        <img id="doggo_icon" src="../static/Doggo_icon.png" alt="아이콘 이미지">
        <h1>멍이와 나</h1>
        <img id="user_icon" src="../static/user_icon.png" alt="아이콘 이미지">
        <br><br><br>
        오늘은 <span id="today"></span> 이에요.<br>
        오늘 날씨는 비가 오니 우산을 꼭 챙겨 다녀요. 멍멍!🐶
    </div>
    <div id="schedules">
        <div class="schedule">

        </div>
    </div>


</div>
</body>
</html>